html, body {
  height: 100%;
  margin: 0;
  background-color: beige;
}

#container{
  min-height: 100%;
  display: grid;
  grid-template-areas: 
    'header'
    'nav'
    'article'
    'footer';
  grid-template-rows: 0.7fr 0.5fr 5fr 0.5fr;
  gap: 0.7rem;
}

header{
  background-color: rgb(26,116,125) ;
  grid-area: header;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: rgb(210,233,227);
  grid-area: nav;
  display: grid;
  align-items: center;
}

article{
  background-color: rgb(210,233,227) ;
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  background-color: white;
  grid-area: section;
}

#myself{
  background-color: aliceblue;
}

footer{
  background-color: rgb(26,116,125) ;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: space-evenly;
  align-items: center;
}

#profilePic{
  max-height: 25rem;
}

#logo{
  max-height: 3.5rem;
  padding: 0.5rem;
  color: white;
  filter: invert(100%);
  align-self: center;
  text-align: center;
  justify-self: center;
}

h1{
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
  padding: 0.3rem;
  flex: 1;
  letter-spacing: 0.1rem;
}

#navLinks{
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.individualNavLinks {
  text-decoration: none;
  color: rgb(87, 52, 0);
  transition: font-size 0.5s, color 0.5s, text-shadow 0.5s;
  font-size: 1.2rem;
}

.individualNavLinks:hover {
  color: rgb(119, 71, 0);
  font-size: 1.3rem;
  text-shadow: 3px 3px 3px grey;
}

.individualNavLinks:visited{
  color: rgb(68, 41, 0);
}

.footerImages{
  max-height: 3.5rem;
  margin: 0.4rem;
  padding: 0.6rem;
  color: white;
  filter: invert(100%);
  align-self: center;
  text-align: center;
  justify-self: center;
}

#myself{
  display: flex;
  flex-direction: row;
  height: 90%;
}

figure{
  flex: 1;
  display: grid;
  grid-template-rows: 5fr 0.7fr 0.5fr;
  justify-content: center;
  justify-items: center;
}

figcaption, h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

h2{
  padding: 0.6rem;
}

figcaption{
  max-height: 0.5rem;
}

#underFig{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.1rem;
  color: grey;
}

#profilePic{
  border-radius: 50%;
  height: 90%;
}

#aboutMe{
  flex: 3;
  text-align: center;
}

#aboutMe p{
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

hr{
  width: 80%;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}